<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a File</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h3>Upload a File</h3>
    <input type="file" id="fileInput" style="display: none;">
    <button id="uploadButton">Select File</button>
    <button id="clearButton">Clear All</button>
    <button id="midown">Download GRN</button>
    <div>
        <label for="taxToggle">Tax Inclusive</label>
        <input type="checkbox" id="taxToggle">
    </div>
    <div id="output"></div>
    <script src="static/upload.js"></script>
</body>
</html> 