<!DOCTYPE html>
<html>
<head>
  <title>Vendor Voucher</title>
  <style>
    .vendor {
      display: ruby;
    }
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .container {
      display: flex;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .invoice {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  /* Creates two equal columns */
        gap: 15px;  /* Adds space between columns */
    }

    .input-column {
        display: flex;
        flex-direction: column;
    }

    .input-column label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .input-column input {
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    button {
      height: 30px;
    }
    .vertical-line {
      margin: 8px;
      width: 2px;       /* Set the height of the line */
      background-color: black; /* Set the color of the line */
  }

  </style>
</head>
<body>
  <div class="container">
    <div class="input-column">
      <h1>Vendor Voucher Generator</h1>
      
      <div class="vendor">
        <pre id="all-details">Vendors not loaded yet</pre>
      </div>
      <br/>
      
      <div class="vendor">
        <h2>Vendor Details</h2>
        <button type="button" onclick="openVendorPopup()">Add New Vendor</button>
        <select id="vendor-selector" onchange="displayVendorDetails()">
          <option value="" disabled selected>Select Vendor</option>
        </select>
      </div>
      <br/>
      
      <div id="vendor-details"></div>
      <br/>
      
      <h2>Invoice Details</h2>
      <div class="invoice">
        <div class="input-column">
          <label for="delivery-date">Delivery Date</label>
          <input type="date" id="delivery-date" placeholder="Delivery Date" required value="">
        </div>
        
        <div class="input-column">
          <label for="invoice-number">Invoice Number</label>
          <input type="text" id="invoice-number" placeholder="Invoice Number" required value="">
        </div>
        
        <div class="input-column">
          <label for="invoice-amount">Invoice Amount</label>
          <input type="number" id="invoice-amount" placeholder="Invoice Amount" required value="">
        </div>
        
        <div class="input-column">
          <label for="return-amount">Return Amount</label>
          <input type="number" id="return-amount" placeholder="Return Amount" required value="">
        </div>
        
        <div class="input-column">
          <label for="payment-days">Payment Days</label>
          <input type="number" id="payment-days" placeholder="Payment Days" required value="20">
        </div>
      </div>
      
      <br/>
      <button type="button" onclick="generateVoucher()">View Voucher</button>
    </div>

    <div class="vertical-line"></div>

    <div class="output-column">
      <div id="output" style="width: 80mm;">Voucher will be generated here</div>
      <button type="button" onclick="printDiv()">Print Voucher</button>
    </div>
  </div>


  <div class="popup" id="vendor-popup">
        <div class="popup-content">
        	<div class="input-column">
	            <h2>Add New Vendor</h2>
              <div class="input-column">
                <label for="delivery-date">Vendor Name</label>
                <input type="text" id="vendor-name" placeholder="Vendor Name" required value="">
              </div>
              <div class="input-column">
                <label for="delivery-date">Vendor Contact</label>
                <input type="text" id="vendor-contact" placeholder="Vendor Contact" required value="">
              </div>
              <div class="input-column">
                <label for="delivery-date">Vendor Email</label>
                <input type="text" id="vendor-email" placeholder="Vendor Email" required value="">
              </div>
              <div class="input-column">
                <label for="delivery-date">Vendor GSTN</label>
                <input type="text" id="vendor-gstn" placeholder="Vendor GSTN" required value="">
              </div>
	            <button type="button" onclick="addNewVendor()">Add Vendor</button>
	            <button type="button" onclick="closeVendorPopup()">Cancel</button>
        	</div>
        </div>
  </div>

  <script>
    const apiUrl = "/vendors";
  	var vendors;
    async function saveVendor(vendor) {
      try {
          const response = await fetch(apiUrl, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(vendor),
          });

          if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
          }

          const data = await response.json();
          console.log("Vendor saved successfully:", data.vendor);
          return data;
      } catch (error) {
          console.error("Failed to save vendor:", error.message);
          return null;
      }
    }
    async function getAllVendors() {
      try {
          
          const response = await fetch(apiUrl, {
              method: 'GET',
              headers: {
                  'Content-Type': 'application/json',
              },
          });

          if (!response.ok) {
              throw new Error(`Error: ${response.status} - ${response.statusText}`);
          }

          const data = await response.json();
          console.log("Vendors fetched successfully:", data.vendors);
          return data.vendors;
      } catch (error) {
          console.error("Failed to fetch vendors:", error.message);
          return [];
      }
    }
    getAllVendors(apiUrl).then(vs => {
      vendors = vs;
      showVendors(-1);
    });
    document.getElementById('delivery-date').value = new Date().toISOString().split('T')[0];

	
	  function openVendorPopup() {
        document.getElementById('vendor-popup').style.display = 'block';
    }
    function closeVendorPopup() {
        document.getElementById('vendor-popup').style.display = 'none';
    }

    function addNewVendor() {
      const vendorName = document.getElementById('vendor-name').value;
      const vendorContact = document.getElementById('vendor-contact').value;
      const vendorEmail = document.getElementById('vendor-email').value;
      const vendorGSTN = document.getElementById('vendor-gstn').value;
      const vendor = {
        'name': vendorName,
        'contact': vendorContact,
        'email': vendorEmail,
        'gstn': vendorGSTN
      }
      vendors.push(vendor);
      saveVendor(vendor).then(response => {
          if (response) {
              console.log("Response:", response);
          } else {
              console.log("Vendor save failed.");
          }
      });
      closeVendorPopup();
      showVendors(vendors.length - 1);
      displayVendorDetails();
    }

    function showVendors(si) {
      document.getElementById('all-details').textContent = vendors.length + ' Vendors avaiable';
      const selectElement = document.getElementById("vendor-selector");
      selectElement.innerHTML = '';
      const newOption = document.createElement("option");
      newOption.value = -1;
      newOption.textContent = 'Select Vendor';
      selectElement.appendChild(newOption);

      vendors.forEach((v, i) => {
        const newOption = document.createElement("option");
        newOption.value = i;
        newOption.textContent = v.name;
        if (i === si) {
          newOption.selected = true;
        }
        selectElement.appendChild(newOption);
      });
    }

    function displayVendorDetails() {
      const selectElement = document.getElementById("vendor-selector");
      const index = selectElement.value;
      const vendor = vendors[index];
      const detailsDiv = document.getElementById("vendor-details");
      detailsDiv.innerHTML = `
        <strong>Name:</strong> ${vendor.name} <br>
        <strong>Email:</strong> ${vendor.email} <br>
        <strong>Contact:</strong> ${vendor.contact} <br>
        <strong>GSTN:</strong> ${vendor.gstn}
      `;
      generateVoucher();
    }

    function generateVoucher() {
      const companyName = 'EE Mart';
      const companyAddress = 'H.NO 30/A, STREET NO 4, SRI BALAJI NAGAR COLONY, Manikonda, Puppalguda, Hyd-89';
      const companyContact = '+91 9490240972';
      const companyGSTN = '36BNFPP4883B2ZU';

      const selectElement = document.getElementById("vendor-selector");
      const index = selectElement.value;
      const vendor = vendors[index];

      const deliveryDate = document.getElementById('delivery-date').value;
      const invoiceNumber = document.getElementById('invoice-number').value;
      const invoiceAmount = document.getElementById('invoice-amount').value;
      const returnAmount = document.getElementById('return-amount').value;
      const paymentDays = document.getElementById('payment-days').value;

      const netAmount = invoiceAmount - returnAmount;
      const paymentAdviceDate = new Date(new Date(deliveryDate).getTime() + paymentDays * 24 * 60 * 60 * 1000);

      const voucherContent = `
<div style="width: 350px; argin: 0 auto; page-break-after: always;">
  <div style="text-align: center;">
    <div style="font-size: 24px; font-weight: bold;">${companyName}</div>
    <div>${companyAddress}</div>
    <div>Ph: ${companyContact}</div>
    <div>GSTN: ${companyGSTN}</div>
  </div>

  <div style="text-align: center; margin: 15px 0;">
    <div style="border: 2px solid black; padding: 5px; display: inline-block;">
      <div style="font-size: 20px; font-weight: bold;">Proof Of Delivery</div>
    </div>
  </div>

  <div style="margin: 10px 0;">
    <table style="width: 100%;">
      <tr>
        <td style="width: 40%;">Supplier:</td>
        <td style="font-weight: bold;">${vendor.name}</td>
      </tr>
      <tr>
        <td>Delivery Date:</td>
        <td style="font-weight: bold;">${deliveryDate}</td>
      </tr>
      <tr>
        <td>Contact:</td>
        <td>${vendor.contact}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>${vendor.email}</td>
      </tr>
      <tr>
        <td>GSTN:</td>
        <td>${vendor.gstn}</td>
      </tr>
    </table>
  </div>

  <div style="border: 1px dashed black; margin: 15px 0;"></div>

  <div style="text-align: center; font-size: 18px; font-weight: bold;">Invoice Details</div>

  <div style="margin: 10px 10px;">
    <table style="width: 100%;">
      <tr>
        <td>Invoice No:</td>
        <td>${invoiceNumber}</td>
      </tr>
      <tr>
        <td>Invoice Amount:</td>
        <td style="font-weight: bold;">₹${invoiceAmount}</td>
      </tr>
      <tr>
        <td>Return Amount:</td>
        <td style="font-weight: bold;">₹${returnAmount}</td>
      </tr>
    </table>
  </div>

  <div style="text-align: center; margin: 15px 0;">
    <div style="font-size: 20px;">Amount to be paid:</div>
    <div style="font-size: 24px; font-weight: bold;">₹${netAmount}</div>
  </div>

  <div style="margin: 10px 0;">
    <div>Payment Terms:</div>
    <div style="margin-left: 10px;">
      • ${paymentDays} Days from delivery date </br>
      • Due on ${paymentAdviceDate.toDateString()}
    </div>
  </div>

  <div style="margin: 20px 0;">
    <div>Recipient's Signature:</div>
  </div></br></br></br>

  <div style="border: 1px dashed black; margin: 15px 0;"></div>

  <div style="text-align: center; font-style: italic;">
    Thank you for your business
  </div>
  </br></br>
</div>
`;

      document.getElementById('output').innerHTML = voucherContent;
    }

    function printDiv() {
            // Get the div content
            const divContent = document.getElementById("output").innerHTML;

            // Create a new window for printing
            const printWindow = window.open("", "_blank");

            // Add the content and styles to the new window
            printWindow.document.open();
            printWindow.document.write(`
                <html>
                <head>
                    <style>
                        body {
                            font-family: Arial, sans-serif;
                        }
                    </style>
                </head>
                <body onload="window.print();window.close();">
                    ${divContent}
                </body>
                </html>
            `);
            printWindow.document.close();
        }
  </script>
</body>
</html>
